.App {
  /* text-align: center; */
  /* background-color: #666; */
  /* color: #ffffff; */
  /* margin-top: 8vh; */
  /* height: 60vh; */
  /* background: linear-gradient(160deg, #202020, #333333); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Footer {
  background: linear-gradient(160deg, #efefef, #efefef);
  height: 33vh;
  margin-top: 10vh;
}
